#login {
	background:url(/static/img/background.jpg);
	background-size:cover;
	min-height:100vh;

	.content {
		background:rgba(0,0,0,0.2);
		min-height:100vh;
		overflow:hidden;

		h1 {
			color:white;
			text-align:center;
			margin:40px;
			font-size:40px;
			font-weight:lighter;
		}

		form {
			background:#424242;
			border-bottom:1px solid #242424;
			width:400px;
			margin:auto;
			text-align:center;
			padding:20px;
			border-radius:2px;

			h3 {
				margin-top:0px;
				text-align:center;
				font-weight:lighter;
			}

			.input {
				background:white;
				display:block;
				border-radius:2px;
				width:300px;
				margin:auto;



				background:rgba(255,255,255,0.2);
				overflow: hidden;

				&:not(:last-child){
					margin-bottom:20px;
				}

				input[type="text"],
				input[type="password"] {
					outline:none;
					background:none;
					border:none;
					font-size:20px;
					padding:10px;
					width:100%;
					color:white;
					box-sizing:border-box;
				}
			}

			input[type="submit"] {
				cursor:pointer;
				background: #2D75B0;
				border: none;
				border-bottom: 1px solid #234B6B;
				border-radius: 2px;
				color: white;
				font-size: 16px;
				font-weight: lighter;
				padding: 10px;

				&:hover {
					background:#4480B1;
				}
			}
		}
	}
}
