.wizard {
	padding:20px;

	background: #2A2A2A;
	border-bottom: 1px solid #242424;
	border-radius: 2px;

	position:absolute;
	width:500px;
	top:50%;
	left:50%;
	margin-left:-260px;
	margin-top:-150px;

	transition: opacity 0.2s ease-in-out;
	opacity: 1;
	overflow: hidden;
	display: block;


	&.ng-hide {
		opacity: 0;
		height:0px;

	}

	.controls {
		text-align: right;
		margin:20px 0px 0px;
	}

	.choose_army .wrapper {
		text-align: center;

		.button {
			display: inline-block;


			background:rgba(255,255,255,0.1);

			padding: 20px 50px;
			margin: 20px;
			border-radius: 2px;
			box-shadow:0px 1px 0px rgba(255,255,255,0.16);
			// border-bottom: 1px solid rgba(255,255,255,0.05);

			transition:background 0.2s ease-in-out;
			box-sizing: border-box;

			&:focus {outline:none;}

			&:not(.active):hover {
				cursor: pointer;
				background:rgba(255,255,255,0.2);
			}

			&.active {
				border-bottom-color: transparent;
				box-shadow: 0px 0px 1px rgba(0,0,0,0.8) inset;
				// border-top:1px solid rgba(0,0,0,0.8);
			}

			// .icon {
			// 	background:url(/static/assets/spritesheet.svg);
			// 	background-size:400px;
			// 	width:50px;
			// 	height:50px;
			// 	margin:10px auto;
			// }
			//
			// &.zombie {
			// 	.icon { background-position:-2.5px -2.5px; }
			// }
			//
			// &.survivor {
			// 	.icon {
			// 		background-position:-55px -2.5px;
			// 	}
			// }

		}
	}

}
